body {
    /* background: linear-gradient(135deg, #f8fafc 0%, #c9e7fa 100%); */
    min-height: 100vh;
    text-align: center;
    font-family: 'segoe UI', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    color: #25557c;
    margin-top: 2rem;
    letter-spacing: 2px;
    font-size: 2.5rem;
}

h2 {
    color: #1e3a5c;
    margin: 1rem 0 2rem 0;
    font-weight: 500;
    letter-spacing: 1px;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.line.one, .line.two {
    display: flex;
    gap: 2rem;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5), 0 1.5px 4px rgba(0,0,0,0.10);
    font-size: 2.2rem;
    color: #fff;
    transition: transform0.1s, box-shadow 0.25s, filter 0.3s;
    cursor: pointer;
    outline: none;
    position: relative;
}

.btn:hover, .btn:active, .btn.flash {
    filter: brightness(1.2)
    drop-shadow(0 0 24px #fff);
    transform: scaler(1.08)
    rotate(-2deg);
    box-shadow: 0 16px 32px rgba(0,0,0,0.23), 0 2px 8px rgba(0,0,0,0.18);
    z-index: 2;
}

.yellow {
     background-color: #f99b45; 
    box-shadow: 0 0 24px #ffee58 inset;
}

.red {
    background-color: #d95980;
    box-shadow: 0 0 24px #f47e7e inset;
}

.green {
    background-color: #63aac0;
    box-shadow: 0 0 24px #c3a3ff inset;
}

.purple {
    background-color: #819ff9;
    box-shadow: 0 0 24px #c3a3ff inset;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}

@media (max-width: 900px) {
    .btn {
        height: 100px;
        width: 100px;
        font-size: 1.2rem;
    }
    .btn-container {
        gap: 1 rem;
        margin-top: 1rem;
    }
    .line.one, .line.two {
        gap: 1rem;
    }
}